/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

html, 
body{
  font-family:'Spartan', sans-serif;;
}

.right-section{
  background-image: url('/pexel (1).jpg') no-repeat center;
  background-size: cover;
}

.active {
  @apply bg-white
}